
body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

input, button{
    height: 25px;
}

#Hz{
    font-size: 25px;
    font-weight: bold;
    color: white;
}